:root {
  --color-primary: #212529; /* Dark black shade */
  --color-primary-light: #343a40; /* Slightly lighter dark black shade */
  --color-text: #343a40;
  --color-text-dark: #212529;
  --color-background-100: #f8f9fa;
  --color-background-500: #e9ecef;
  --color-background-900: #ced4da; /* Changed to a lighter grey for light mode */
  --color-red: #fa5252;
  --color-red-dark: #e03131;
}

html[data-theme="dark"] {
  --color-primary: #5b38d2;
  --color-primary-light: #6f46f1;
  --color-text: #f7f7f7;
  --color-text-dark: #f7f7f7cf;
  --color-background-100: #1c2022;
  --color-background-500: #25292d;
  --color-background-900: #2a3335;
  --color-red: #ef4444;
  --color-red-dark: #dc2626;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  background-color: var(--color-background-100);
  color: var(--color-text);
}

ul {
  list-style-type: none;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: none;
}

.collapse-show-btn {
  width: 3.2rem;
  height: 3.2rem;
  right: 2.4rem;
  top: 1rem;
  border-radius: 50%;
  font-size: 3.2rem;
  color: var(--color-text);
  padding: 1rem;
  background-color: var(--color-background-100);
  cursor: pointer;
  z-index: 10; /* Lower z-index to prevent interference with dropdown */
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

nav {
  justify-content: space-between;
  align-items: center;
  max-width: 98%;
  margin: 1.2rem auto;
  padding: 1.6rem 2.4rem;
  background-color: var(--color-primary);
  color: #fff; /* Changed to white for better contrast in light mode */
  border-radius: 6px;
  position: relative;
}

.logo {
  align-items: center;
}

.logo span {
  font-size: 3.2rem;
  transform: translateY(-3px);
}

.logo h1 {
  font-size: 2.4rem;
}

.result-summary {
  font-size: 2.4rem;
  color: var(--color-text-dark);
}
nav input {
  border: none;
  outline: none;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: var(--color-primary-light);
  color: #fff; /* Changed to white for visibility in light mode */
  padding: 1.6rem;
  border-radius: 5px;
  width: 30%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); /* Adjusted for better visibility in both modes */
  transition: all 0.2s ease-in;
}
input:focus {
  transform: translateY(-1px);
  box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.2); /* Adjusted for better visibility in both modes */
}

input::placeholder {
  gap: 2.4rem;
  color: #f7f7f7; /* Changed to light grey for visibility in light mode */
}

main {
  max-width: 60%;
  margin: 3.2rem auto;
  column-gap: 2rem;
}

main > section {
  background-color: var(--color-background-500);
  border-radius: 8px;
  color: var(--color-text-dark);
  position: relative;
  min-height: 30rem;
  max-height: 60rem;
  /* Removed overflow: auto; */
}

.box-content-scrollable {
  height: 100%; /* Ensure it takes full height of parent */
  overflow: auto; /* Apply scrolling here */
}
main > section.loading-watched,
main > section.loading-movies {
  display: flex;
}

main > section::-webkit-scrollbar {
  width: 0.5rem;
  background-color: rgba(55, 56, 61, 0.1);
  border-radius: 100vw;
}

main > section::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background-color: var(--color-primary);
}

li {
  display: grid;
  row-gap: 1rem;
  column-gap: 2rem;
  grid-template-columns: 2fr 8fr;
  padding: 1.6rem 2.4rem;
  border-bottom: 2px solid #77777722;
  transition: all 0.3s;
}

.search-list-row:hover {
  background-color: var(--color-background-900);
  cursor: pointer;
}

.img-container {
  grid-row: 1 / 3;
}

.img-container img {
  width: 100%;
}

li h3 {
  font-size: 2.4rem;
  align-self: end;
}
li h4 {
  font-size: 1.6rem;
  font-weight: normal;
}

.watch-list-section {
  position: relative;
}
.user-movies-overview {
  background-color: var(--color-background-900);
  border-radius: 8px;
  box-shadow: 0 4px 8px 8px #0000001d;
  flex-direction: column;
  padding: 1.6rem 2.4rem;
  row-gap: 1rem;
  position: sticky;
  top: 0;
}

.user-movies-overview h3 {
  font-size: 2.4rem;
}

.user-movies-overview .stats,
.user-reviewed-list-stats {
  font-size: 1.6rem;
  gap: 1.6rem;
}

.loader,
.error {
  margin: 3.2rem auto;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 600;
}

/*selected movie section*/

.selected-movie {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  position: relative;
}

.movie-overview {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  background-color: var(--color-background-900);
}

.movie-overview-image {
  width: 17rem;
}

.movie-overview-details {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.movie-overview-details h2 {
  font-size: 2.4rem;
  line-height: 1.2;
}

.movie-overview-details p {
  font-size: 1.4rem;
}

.selected-movie > section:nth-child(2) {
  max-width: 80%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  font-size: 1.4rem;
}

.rate-movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  background-color: var(--color-background-900);
  padding: 2.4rem;
  border-radius: 8px;
}

.back-btn {
  position: absolute;
  left: 2%;
  top: 1%;
  background-color: var(--color-background-100);
  color: var(--color-text);
  border-radius: 50%;
  padding: 0.4rem;
  font-size: 2.4rem;
  box-shadow: 0 1px 4px 4px #00000041;
  cursor: pointer;
}

.add-watchlist-btn,
.user-profile-btn {
  background-color: var(--color-primary-light);
  color: #fff;
  width: auto;
  height: auto;
  border-radius: 100vw;
  cursor: pointer;
}
.add-watchlist-btn {
  position: static;
  font-size: 1.6rem;
  padding: 1.2rem 2.4rem;
}
.user-profile-btn {
  font-size: 1.2rem;
  padding: 0.6rem 1.2rem;
}

.watch-list-row {
  position: relative;
}

.delete-movie-btn {
  background-color: var(--color-red);
  cursor: pointer;
  right: 2%;
  top: 0.5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 5px;
  box-shadow: 0 1px 4px 4px #3131312c;
  padding: 0.7rem;
  transition: all 0.3s;
}
.delete-movie-btn:hover {
  background-color: var(--color-red-dark);
}

.delete-movie-btn > svg {
  color: #fff;
}
.loader-grid {
  position: relative;
  width: calc(10 * 15px);
  height: calc(12 * 15px);
}

.base {
  width: calc(10 * 15px);
  height: 10px;
  background-color: var(--color-primary);
  margin-bottom: calc(8 * 15px);
}

.piece {
  position: absolute;
  top: 0;
  left: 0;
}
.iPiece {
  display: grid;
  grid-template-rows: repeat(4, 15px);
  grid-template-columns: repeat(1, 15px);
  grid-template-areas:
    "a"
    "a"
    "a"
    "a";
}
.iPiece > div {
  grid-area: a;
  background-color: #6fcbf8;
}

.jPiece {
  display: grid;
  grid-template-rows: repeat(3, 15px);
  grid-template-columns: repeat(2, 15px);
  grid-template-areas:
    ". a"
    ". a"
    "b b";
  width: calc(2 * 15px);
  height: calc(3 * 15px);
}
.jPiece > div:first-child {
  grid-area: a;
  background-color: #3030cf;
}
.jPiece > div:last-child {
  grid-area: b;
  background-color: #3030cf;
}

.lPiece {
  display: grid;
  grid-template-rows: repeat(3, 15px);
  grid-template-columns: repeat(2, 15px);
  grid-template-areas:
    "a ."
    "a ."
    "b b";
}
.lPiece > div:first-child {
  grid-area: a;
  background-color: #f88c41;
}
.lPiece > div:last-child {
  grid-area: b;
  background-color: #f88c41;
}

.oPiece {
  display: grid;
  grid-template-rows: repeat(2, 15px);
  grid-template-columns: repeat(2, 15px);
  grid-template-areas:
    "a a"
    "a a";
}
.oPiece > div {
  grid-area: a;
  background-color: #fed504;
}

.sPiece {
  display: grid;
  grid-template-rows: repeat(2, 15px);
  grid-template-columns: repeat(3, 15px);
  grid-template-areas:
    ". a a"
    "b b .";
}
.sPiece > div:first-child {
  grid-area: a;
  background-color: #52cc74;
}
.sPiece > div:last-child {
  grid-area: b;
  background-color: #52cc74;
}

.tPiece {
  display: grid;
  grid-template-rows: repeat(2, 15px);
  grid-template-columns: repeat(3, 15px);
  grid-template-areas:
    ". a ."
    "b b b";
}
.tPiece > div:first-child {
  grid-area: a;
  background-color: #bd46d0;
}
.tPiece > div:last-child {
  grid-area: b;
  background-color: #bd46d0;
}

.zPiece {
  display: grid;
  grid-template-rows: repeat(2, 15px);
  grid-template-columns: repeat(3, 15px);
  grid-template-areas:
    "a a ."
    ". b b";
}
.zPiece > div:first-child {
  grid-area: a;
  background-color: #ff3859;
}
.zPiece > div:last-child {
  grid-area: b;
  background-color: #ff3859;
}

.start-message {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  margin-top: 3.2rem;
}
.start-message-emoji {
  font-size: 2.4rem;
}

.switch {
  width: 50px;
  height: 30px;
  background-color: var(--color-background-500);
  display: flex;
  justify-content: flex-start;
  border-radius: 50px;
  padding: 5px;
  cursor: pointer;
}

.switch[data-ison="true"] {
  justify-content: flex-end;
}

.handle {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.handle svg {
  width: 16px;
  height: 16px;
  color: var(--color-primary);
}

.switch.dark {
  background-color: #4d4d4d; /* A distinct grey for dark mode toggle */
}

.switch.light .handle {
  background-color: var(--color-primary);
}

.switch.light .handle svg {
  color: white;
}

.theme-toggle-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.theme-toggle-label {
  font-size: 1.4rem;
  font-weight: 600;
}

