.nav {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  gap: 4.2rem;
}

@media (max-width: 458px) {
  .nav {
    font-size: 1.2rem;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 768px) {
  .nav {
    font-size: 1.2rem;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
}
