.nav {
  display: flex;
  justify-content: space-between;
  width: 15%;
  align-items: center;
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 1.2rem;
}

@media (max-width: 458px) {
  .nav {
    font-size: 1.2rem;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 768px) {
  .nav {
    font-size: 1.2rem;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
  }
}
