.nav {
  display: flex;
  justify-content: space-between;
  width: 15%;
  align-items: center;
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 1.2rem;
}

@media (max-width: 458px) {
  .nav {
    flex-direction: column;
    font-size: 1.2rem;
    row-gap: 1.2rem;
  }
}
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    font-size: 1.2rem;
    row-gap: 1.2rem;
  }
}
