.form {
  display: flex;
  flex-direction: column;
  row-gap: 3.2rem;
}
.heading {
  font-size: 4.8rem;
  color: white;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 4.8rem;
}
.form img {
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
}
.img-selector-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
